/*-------------RESET------------*/
@import url('reset.css');
/*-------------FONTS------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');
/*-------------HEADER------------*/
@import url('header.css');
/*-------------COMMON------------*/
@import url('common.css');
/*-------------FOOTER------------*/
@import url('footer.css');

/*--------------------------------*/
/*--------------------------------*/
body {
	background-color: #212529;
	font-family: 'Poppins';
	color: #fff;
}

/*--------------------------------*/
.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	overflow: clip;
}

/*--------------------------------*/
.page {
	flex: 1 1 auto;
}

.page__main {}

.page__about {}

.page__skills {}

/*--------------------------------*/
[class*="__container"] {
	margin: 0 auto;
	max-width: 1330px;
	padding-left: 15px;
	padding-right: 15px;
}

/*--------------------------------*/
/*-------------MAIN------------*/
.main {
	padding-top: 75px;
	padding-bottom: 75px;
}

.main__container {}

.main__content {
	text-align: center;
	text-transform: capitalize;
}

.main__content:not(:last-child) {
	margin-bottom: 76px;
}

.main__subtitle {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.6;
}

.main__subtitle span {
	text-decoration: underline;
	color: #FFB742;
}

.main__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.9;
}

.main__title:not(:last-child) {
	margin-bottom: 25px;
}

.main__text {
	font-size: 24px;
	line-height: 2.1;
}

.main__text:not(:last-child) {
	margin-bottom: 23px;
}

.main__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 23px;
}

.main__item {}

.item-main {
	padding: 25px 30px;
	display: flex;
	align-items: center;
	background-color: rgba(56, 62, 69, 0.44);
	border-radius: 10px;
	gap: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.item-main::after {
	content: "";
	background: url('../img/main/chevron-right.svg') 0 0 no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 60px;
	right: 4.2%;
}

.item-main:hover {
	background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
	color: #212529;
}

.item-main__icon {
	flex: 0 0 64px;
	/* 64/416 */
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	background: #E9E9E9;
}

.item-main__body {
	text-align: center;
	text-transform: capitalize;
	font-weight: 700;
	flex: 1 1 auto;
}


.item-main__value {
	color: #FFB742;
	font-size: 32px;
	line-height: 1.6;
}

.item-main__text {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 2.4;
}



@media (max-width:1091.98px) {
	.item__main {
		padding: 20px;
	}
}

@media (max-width:991.98px) {
	.main {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.main__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width:767.98px) {
	.main {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.main__content {
		text-align: left;
	}

	.main__subtitle {
		font-size: 27px;
	}

	.main__title {
		font-size: 40px;
	}

	.main__title:not(:last-child) {
		margin-bottom: 10px;
	}

	.main__text {
		font-size: 20px;
	}

	.main__text:not(:last-child) {
		margin-bottom: 15px;
	}

	.main__items {
		grid-template-columns: auto;
	}

	.item-main__value {
		font-size: 25px;
	}
}

@media(max-width: 479.98px) {
	.main__subtitle {
		font-size: 22px;
	}

	.main__title {
		font-size: 30px;
	}

	.main__text {
		font-size: 16px;
	}
}

/*--------------------------------*/
/*-------------ABOUT------------*/

.about {
	padding-top: 45px;
	padding-bottom: 45px;
}

.about__container {
	display: flex;
	column-gap: 82px;
	row-gap: 20px;
}

.about__image {
	flex: 0 0 43%;
	padding-top: 42px;
}

.about__image img {
	max-width: 100%;
}

.about__content {
	flex: 1 1 auto;
}

.about__label {
	margin-bottom: 15px;
}

.about__title {}

.about__title:not(:last-child) {
	margin-bottom: 15px;
}

.about__text {}

.about__text:not(:last-child) {
	margin-bottom: 54px;
}

.about__text p:not(:last-child) {
	margin-bottom: 10px;
}

.about__button {}

@media(max-width: 991.98px) {
	.about__container {
		flex-direction: column-reverse;
	}

	.about__text:not(:last-child) {
		margin-bottom: 30px;
	}

	.about__image {
		align-self: flex-end;
		padding-top: 0;
	}
}


@media(max-width: 767.98px) {
	.about {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media(max-width: 479.98px) {
	.about__button {
		width: 100%;
	}
}

/*-------------SKILLS------------*/

.skills {
	padding-top: 56px;
	padding-bottom: 56px;
}

.skills__container {
	display: flex;
	column-gap: 93px;
	row-gap: 30px;

}

.skills__content {
	flex: 1 1 auto;
}

.skills__label {
	margin-bottom: 16px;
}

.skills__title {}

.skills__title:not(:last-child) {
	margin-bottom: 16px;
}

.skills__text {}

.skills__text {
	max-width: 650px;
}

.skills__text:not(:last-child) {
	margin-bottom: 44px;
}

.skills__text p:not(:last-child) {
	margin-bottom: 10px;
}

.skills__button {}

.skills__items {
	align-self: flex-start;
	flex: 0 0 40.75188%;
	/* 542/1330 */
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
}

.skills__item {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #383E45;
	border-radius: 10px;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.skills__item:hover {
	background-color: rgba(255, 183, 66, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: scale(1.02);
}

@media (max-width: 1250px) {
	.skills__items {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 991.98px) {
	.skills__container {
		flex-direction: column;
	}

	.skills__content {
		text-align: center;
	}

	.skills__text {
		max-width: none;
	}

	.skills__items {
		align-self: center;
		/* grid-template-columns: repeat(6, 1fr); */
	}


}

@media (max-width: 776.98px) {
	.skills__items {
		align-self: center;
		grid-template-columns: repeat(4, 1fr);
	}
}